* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }
  body {
    height: 100vh;
    
  }
  h1{
    text-align: center;
    color: #090779;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: solid 2px #fff ;
    align-items: center;
  }
  .calculator {
    width: 400px;
    height: 80%;
    background-color: rgb(253, 253, 253);
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 30px 60px rgba(0, 5, 24, 0.4);
    
  }
  .display {
    width: 100%;
    color: #9490ac;
  }
  .display input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background-color: #c1bdd6;
    color: #000000;
    font-size: 35px;
    border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  }
  .display input::placeholder {
    color: #000000;
    
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
  }
  .buttons input[type="button"] {
    font-size: 20px;
    padding: 17px;
    border: none;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  }
  .buttons input[type="button"]:hover {
    box-shadow: 0 8px 25px #000d2e;
  }
  input[type="button"]#equal {
    grid-row: span 1;
    background-color: #ca4fba;
    
  }
  input[type="button"][value="0"] {
    grid-column: span 2;
  }
  input[type="button"]#clear {
     background-color: #5eb8db;
  }
  input[type="button"]#erase{
    background-color: #eb6b4bf8;
 }